<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>686039242579-fe07lmecf9vnr57ejk3v93nouvbusajm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.686039242579-fe07lmecf9vnr57ejk3v93nouvbusajm</string>
	<key>API_KEY</key>
	<string>AIzaSyBBHSQlvW8uvV1mE_AcrcC3IBgWa434xo4</string>
	<key>GCM_SENDER_ID</key>
	<string>686039242579</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-65599</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-65599.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:686039242579:ios:ba8e10174af3b55410f3a6</string>
</dict>
</plist>